@font-face {
  font-family: 'Light';
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: 'Regular';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Medium';
  src: url(../fonts/Montserrat-Medium.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-primary-color);
  color: var(--text-primary-color);
  font-family: 'Regular';
}

:root {
  /* colors */
  --text-primary-color: #ffffff;
  --text-secondary-color: #a6adb1;

  --background-primary-color: #131419;
  --background-secondary-color: #1c1c24;

  --button-primary-color: #4447e2;

  --green-color: #50d86a;
  --purple-color: #a86ce4;
  --blue-color: #f0deff;
  --red-color: #e24444;
  --pink-light-color: #ffcece;
  --green-light-color: #deffe5;

  /* fonts */
  --extra-small-text: 0.75em;
  --small-text: 0.875em;
  --medium-text: 1.125em;
  --semi-medium-text: 1.25em;
  --large-text: 1.5em;
  --extra-large-text: 1.625em;

  --main-text: 1.875em;
}

a {
  border-bottom: 2px solid transparent;

  color: var(--text-secondary-color);
  text-decoration: none;

  transition: all 0.15s ease;
}

a:hover {
  color: var(--text-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: unset;
  font-weight: normal;
  font-size: 1em;
}

h1 {
  font-family: 'Medium';
  font-size: var(--main-text);
  font-weight: 500;
}

h2 {
  font-size: var(--extra-large-text);
}

h3 {
  font-size: var(--semi-medium-text);
}

h4 {
  font-size: var(--medium-text);
}

h5 {
  font-size: var(--small-text);
}

h6 {
  font-size: var(--extra-small-text);
}

button {
  height: 40px;

  color: var(--text-primary-color);

  border: none;
  border-radius: 15px;

  cursor: pointer;
  opacity: 0.9;

  transition: all 0.15s ease;
}

button:hover {
  opacity: 1;
}

* {
  box-sizing: border-box;
}
